<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon India Ecommerce Automation Suite" parallel="false">
    <listeners>
        <listener class-name="com.resumeqa.utils.TestListener"/>
    </listeners>

    <test name="Amazon Functional and Regression Scenarios">
        <classes>
            <class name="com.resumeqa.tests.LoginTests"/>
            <class name="com.resumeqa.tests.AddToCartTests"/>
            <class name="com.resumeqa.tests.CheckoutTests"/>
        </classes>
    </test>
</suite>